@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Zen+Kurenaido&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', 'Zen Kurenaido', sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  z-index: 99;
}
header .contact-banner  {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3F8A8A;
  padding: 0.5rem 1rem;
  color: #ffffff;
  justify-content: space-between;
  font-size: 0.8rem;
}
header .contact-banner ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
header .contact-banner ul li a {
  color: inherit;
  text-decoration: none;
}
header .horizontal-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background: white;
  align-items: center;
}
header .horizontal-navigation .vertical-navigation  {
  display: none;
}
header .horizontal-navigation .logo {
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}
.options-menu {
  display: none;
}
.App .home  {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 99px;
  width: 100%;
}
header .horizontal-navigation .options-nav-menu {
  display: none;
}

header .horizontal-navigation .options-menu .sort-down-icon {
  padding-left: 0.5rem;
  display: none;
}
header .horizontal-navigation .options-menu .options-menu-button  {
  display: flex;
}
.App .home .banner {
  background:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./people_of_acitic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 11rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.App .home .banner h1 {
  text-align: center;
  line-height: 1.3rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.App .home .banner p {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}
.App .home .how-acitc-work {
  background: #FDCC52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 2rem;
}
.App .home .how-acitc-work h4 {
  margin-bottom: 1rem;
}
.App .home .how-acitc-work p {
  font-size: 0.9rem;
}
.App .home .entrepreneurs-and-startups  {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background: rgba(63, 138, 138, 0.09);
  padding: 2rem;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container p {
  line-height: 1rem;
  margin-top: 0.5rem;
}
header .horizontal-navigation .options-menu .sort-down-ref-active {
  display: flex;
}

.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container ul  {
  list-style-type: none;
  padding: 1rem;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container ul  li  {
  padding: 1rem 0;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container ul  li div {
  display: flex;
  flex-direction: row;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container ul  li div span {
  margin-right: 1rem;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container ul  li div span svg {
  width: 1.3rem;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container ul  li p {
  margin-left: 2.3rem;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-image-container img {
  max-height: 250px;
  border-radius: 10px;
}
.App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-image-container .register {
  position: absolute;
  top: 200px;
  left: 3.5rem;
}
.App .home .stages {
  padding: 2rem 0;
}
.App .home .stages .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.App .home .stages .cards .card {
  background: linear-gradient(rgba(63, 138, 138, 0.8),rgba(63, 138, 138, 0.8)), url('./idea_stage.jpg');
  width: 300px;
  height: 230px;
  background-size: contain;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 1rem;
  padding: 0 1rem;
}
.App .home .stages .cards .card p {
  text-align: center;
  font-size: 0.8rem;
  
}
.App .home .stages .cards .card h3 {
  margin-bottom: 1.5rem;
}
.App .home .stages .cards .card a {
  color: white;
  text-decoration: none;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.App .home .stages h4 {
  text-align: center;
}
.App .home .stages .partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0.5rem;
  overflow-x: scroll;
}

.App .home .stages .partners img {
  height: 42px;
  object-fit: cover;
}
.App .home .stages .load-more-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .home .testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FDCC52;
}
.App .home .testimonials h3 {
  margin: 1.5rem;
}
.App .home .testimonials .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}
.App .home .testimonials .cards .card {
  width: 300px;
  height: 280px;
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 1rem 1rem 4rem;
  padding: 0 1rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonials .cards .card1 {
  background: url('./slide_1.jpg');
}
.testimonials .cards .card2 {
  background: url('./slide_2.jpg');
}
.testimonials .cards .card3 {
  background: url('./slide_3.jpg');
}
.App .home .testimonials .cards .card .sub-card  {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 30px;
  top: 205px;
  width: 240px;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.App .home .testimonials .cards .card .sub-card p {
  text-align: center;
}
footer  {
  position: absolute;
  top: 3450px;
  display: flex;
  flex-direction: column;
  background-color: rgba(39, 155, 155, 0.09);
  justify-content: center;
  width: 100%;
}
.cta-link {
  background-color: #3F8A8A;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 3.3rem;
  margin-right: 1rem;
  border-radius: 10px;
  text-decoration: none;
}
footer .mailing-list form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .mailing-list form label {
  text-align: center;
  font-weight: 500;
  margin: 1rem;
}
footer .mailing-list form input[type='email'] {
  border: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: rgba(39, 155, 155, 0.09);
  font-family: inherit;
}
footer .mailing-list {
  border-bottom: 1px solid #3F8A8A;
  width: 100%;
  padding-bottom: 1rem;
}
footer .mailing-list form button {
  border: none;
  background-color: #3F8A8A;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  color: white;
  font-family: inherit;
  margin-left: -6px;
}
footer .footer-links  {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 1.5rem;
}
footer .footer-links h4 {
  padding: 1rem 0;
}
footer .footer-links ul li a {
  color: inherit;
  text-decoration: none;
}

footer .footer-links .contact-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
}
footer .footer-links .contact-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.8rem;
  padding: 0 0.3rem;
}
footer .footer-links .contact-links li span {
  margin-right: 1rem;
}
footer .footer-links a {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

footer .copyright {
  background-color: #3F8A8A;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.5rem 0;
}
.get-started {
  margin-right: 0;
}
header .horizontal-navigation .menu-mobile-options-modal {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  list-style-type: none;
  position: absolute;
  top: 99px;
  left: 51%;
}
header .horizontal-navigation .menu-mobile-options-modal li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.2rem 0;
  display: flex;
}

header .horizontal-navigation .activeNavBar {
  display: flex;
  background-color: #3F8A8A;
  color: white;
  position: absolute;
  left: 0;
  top: 98px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 98px);
  z-index: 99;
  margin-block-start: 0em;
  margin-block-end: 0em
}
header .horizontal-navigation .activeNavBar {
  list-style-type: none;
  padding: 3rem 2rem;
}
header .horizontal-navigation .activeNavBar .navitem a, header .horizontal-navigation .activeNavBar .navitem .about-us-link-container span {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.options-menu-button, .sort-down-icon, .faBarsButton, .faUserbutton {
  cursor: pointer;
}
.about-us-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.about-us-link-container span {
  padding-left: 1rem;
}
header .horizontal-navigation .activeNavBar .navitem {
  padding: 1rem 0;
}
.about-us-navlinks  {
  display: none;
}

header .horizontal-navigation .hamburger-button .faBarsButton {
  margin-right: 2rem;
}
header .horizontal-navigation .about-us-modal {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 2px inset;
  list-style-type: none;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
header .horizontal-navigation .about-us-navitem {
  padding:  1rem;
}
header .horizontal-navigation .about-us-modal .about-us-navitem a {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', 'Zen Kurenaido', sans-serif;
    font-size: 18px;
    min-width: 768px;
    position: relative;
  }
  header .contact-banner  {
    padding: 1rem 2rem;  
    font-size: 1rem;
  }
  header .horizontal-navigation {
    padding: 1rem 2.5rem;
  }
  header .horizontal-navigation .logo {
    font-size: 1.5rem;
  }
  .App .home  {
    top: 145px;
    width: 100%;
  }
  .App .home .banner {
    min-height: 16rem;
  }
  .App .home .banner h1 {
    text-align: center;
    line-height: 1.7rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  .App .home .banner p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ffffff;
  }
  .App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-image-container .register {
    position: absolute;
    top: 200px;
    left: 17.5rem;
  }
  header .horizontal-navigation .menu-mobile-options-modal {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    list-style-type: none;
    position: absolute;
    top: 145px;
    left: 74%;
  }
  .App .home .stages .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .App .home .stages .partners img {
    height: 70px;
    object-fit: cover;
  }
  footer {
  top: 3160px;
  }
  footer .mailing-list form input[type='email'] {
    padding: 1rem 2rem;
    border-radius: 6px;   
  }
  footer .mailing-list form button  {
    padding: 1rem 2rem;
    border-radius: 6px;
  }
  footer .footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 2.5rem;
  }
  footer .footer-links .contact-links li {
    font-size: 1.2rem;
  }
  header .horizontal-navigation .activeNavBar {
    top: 145px;
    align-items: center;
    justify-content: center;
    
  }
}
@media only screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', 'Zen Kurenaido', sans-serif;
    font-size: 16px;
    min-width: 1024px;
    position: relative;
  }
  header .contact-banner  {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #3F8A8A;
    padding: 0.5rem 1rem;
    color: #ffffff;
    justify-content: space-between;
    font-size: 0.8rem;
  }
  header .contact-banner ul {
    justify-content: space-around;
    width: max-content;
  }
  header .contact-banner ul li  {
    padding: 0 2rem;
  }
  header .horizontal-navigation .vertical-navigation  {
    display: flex;
    list-style-type: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-left: 25rem;
  }
  
  header .horizontal-navigation .options-menu {
    display: none;
  }
  header .horizontal-navigation {
    padding: 1rem 2rem 1rem 5rem;
    align-items: center;
  }
  header .horizontal-navigation .vertical-navigation li a
   {
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
   header .horizontal-navigation .vertical-navigation .about-us-link-container span {
    padding-left: 0 0.5rem;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
  .options-menu {
    display: flex;
    padding-right: 1rem;
  }
  .App .home  {
    top: 113px;
    width: 100%;
  }
  .App .home .banner {
    min-height: 31rem;
    margin-bottom: 9rem;
  }
  .App .home .banner h1 {
    font-size: 2.3rem;
    line-height: 1.1;
    margin-top: -3rem;
  }
  .App .home .banner p { 
    font-size: 1.1rem;   
  }
  .cta-link {
    font-size: 1rem;
    padding: 0.5rem 4rem;
    margin-right: 2rem;
  }
  .App .home .how-acitc-work {
    width: 70%;
    padding: 2rem;
    position: absolute;
    left: 15%;
    top: 17%;
    border-radius: 12px;
  }
  .App .home .entrepreneurs-and-startups {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background: rgba(63, 138, 138, 0.09);
    padding: 4rem;
    align-items: flex-start;
  }
  .App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-image-container img {
    max-height: 330px;
  }
  .App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-image-container .register {
    position: absolute;
    top: 16rem;
    left: 4.8rem;
  }
  .App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container h4  {
    font-size: x-large;
  }
  .App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container p {
    line-height: 1.1;
    font-size: 1.2rem;
  }
  .App .home .entrepreneurs-and-startups .entrepreneurs-and-startup-container .startups-options li span h5 {
    font-size: larger;
  }
  .App .home .stages .cards {
    padding: 0 6rem;
  }
  .App .home .stages h4 {
    font-size: larger;
  }
  .App .home .stages .partners img {
    height: 85px;
    object-fit: cover;
    padding: 0 2rem;
  }
  .App .home .stages .partners {
    overflow-x: auto;
  }
  .App .home .testimonials h3 {
    font-size: x-large;
  }
  .App .home .testimonials .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .App .home .testimonials .cards .card {
    width: 320px;
    height: 303px;
    background-size: contain;
    border-radius: 20px 0 33px 0;
  }
  .App .home .testimonials .cards .card .sub-card {
    left: 40px;
    top: 205px;
    width: 240px; 
  }
  footer {
    top: 2590px;
  }
  footer .footer-links {
    display: flex;
    flex-direction: row;
    margin: 2rem 0 4rem;
    padding: 0 6rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .footer-links h4 {
    padding: 0;
    font-size: 1.2rem;
  }
  footer .footer-links h3 {
    font-size: 1.3rem;
  }
  footer .footer-links .contact-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .footer-links .contact-links li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem;
    padding: 0 0.3rem;
  }
  footer .footer-links .contact-links li div:nth-child(2) {
    margin-left: 1rem;
  } 
  footer .mailing-list form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem 0;
    padding-left: 3rem;
  }
  footer .mailing-list {
    border-bottom: 1px solid #3F8A8A;
    width: 100%;
    padding-bottom: 0;
  }
  header .horizontal-navigation .menu-options-modal {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    list-style-type: none;
    position: absolute;
    top: 113px;
    left: 81vw;
  }
  header .horizontal-navigation .options-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .horizontal-navigation .menu-options-modal .navitem .options-nav-link  {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 0; 
    font-size: 1.2rem;
    display: flex;
  }
  .hamburger-button {
    display: none;
  }
}
/* .App {
  background: #3F8A8A;
  background: #FDCC52;
  color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.88);
  background: rgba(63, 138, 138, 0.09);
  background: rgba(63, 138, 138, 0.8); 
  border-radius: 15px;
  background: #C4C4C4;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.75);
} */



